*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.content {
    position: relative;
    margin: auto;
    display: flex;
    column-gap: 30px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 0 2px;
}

.search-form__label {
    width: fit-content;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.search-form__textfield {
    color: rgba(255, 255, 255, 0.7);
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: none;
    appearance: none;
    min-width: 225px;
    min-height: 27px;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__textfield:active {
    border: none;
    outline: 1px solid #fff;
}

.search-form__submit-button {
    cursor: pointer;
}

.content__details {
    min-width: 399px;
}

.content__list {
    width: 425px;
    height: 298px;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content__list-item {
    min-width: 394px;
    min-height: 107px;
}

.content__list-item:not(:last-child) {
  margin: 0 0 30px 0;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover; 
    object-position: center;
}

.content__video-card {
    display: grid;
    grid-template-columns: 205px 194px;
}

.result {
    margin: 75px 0 0 0;
}

.result__video-container {
    width: 711px;
    height: 386px;
    margin: 0 0 16px 0;
    position: relative;
}

.result__video {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.result__video {
    min-height: 100%;
    min-width: 100%;
}
.search-form__fieldset-title {
    color: #fff;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    font-family: Oswald;
    font-size: 75px;
    line-height: 94%;
    text-transform: uppercase;
    margin: 0px 0 20px 0;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    text-decoration: none;
    color: #fff;
}

.content__video-card-title {
    font-family: Oswald;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 -4px 0;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
    margin: 6px 0 3px 0;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: "";
    height: 15px;
    width: 16px;
    background-color: #fff;
}

.search-form__label:focus {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__pseudo-checkbox:active {
    height: 15px;
    width: 16px;
    background-color: #fff;
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__label:hover:not(.search-form__label-city) {
    text-decoration: underline;
}

.search-form__fieldset {
    border: none;
    display: grid;
    padding: 0;
    gap: 2px;
    margin: 2px 0 0 -3px;
}

.button {
    min-height: 34px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.more-button {
    min-width: 399px;
    
}

.search-form__submit-button {
    min-width: 194px;
    margin: 19px 0px 0 0px;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.button:active {
    height: 34px;
    background-color: #545050;
    outline: 1px solid #fff;
}

.button:hover {
    text-decoration: underline;
}

.content__card-link {
    display: block;
}

.content__card-link_current {
    background-color: #545050;
}

.content__list-item:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.content__list-item:active {
    background-color: #545050;
}

.content__list-item:hover {
    text-decoration: underline;
}

.content__card-link {
    margin: 2px;
}
